/*Para borde y diseño del conjunto */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

/*-------------------------------- */

/*Primera parte del texto y foto*/
.contacto-encabezado {
    background-color: #D0DCE5;
    border-bottom: solid 4px #820153;
    margin-top: -0.2rem;
}

/*-------------------------------- */
/*diseño del texto tipografia y alineacion*/
.contacto-textos {
    margin: 0 auto;
    text-align: center;
    color: white;
}

.contacto-textos-2 {
    margin: 0 auto;
    text-align: center;
    font-style: italic;
}

/*-------------------------------- */

h1 {
    font-size: 24px;
    margin-bottom: 5px;
}

p {
    margin: 0 1rem;
    font-size: 16.5px;
    font-weight: normal;
}



/*-------------------------------- */
/*Diseño de la imagen*/
#contacto-img {
    width: 100%;
    height: auto;
    margin-bottom: -3px;
}

/*-------------------------------- */

#contacto-elipse {
    width: 100%;
    height: auto;
    margin-bottom: -5px;
}

/*diseño del formulario*/
.contacto-formulario {
    background: linear-gradient(to right, #6F60CC 10%, #9F6CB4);
    height: auto;
    padding-top: 15px;
    padding-bottom: 10px;
    border-top: solid 4px #820053;
}

.contacto-formulario form {
    width: 85%;
    height: 360px;
    background: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 20px;
    margin: 10px auto 0px auto;
}

.contacto-formulario input, .txt{
    background-color: #EAEFF3;
    width: 100%;
    height: 40px;
    border-radius: 13px;
    border-style: solid;
    border-width: 1px;
    border-color: #D0DCE5;
    margin: 3px auto;
}

.contacto-formulario input{
    margin-bottom: 10px;
    padding-left: 10px;
}

textarea {
    background-color: #EAEFF3;
    width: 99%;
    height: 100px;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: #D0DCE5;
    margin: 5px auto 10px auto;
    padding-top: 15px;
    padding-left: 10px;
    resize: none;
}

.formulario input:focus {
    outline: 0;
    border: 2px solid #820053;
}


.formulario textarea:focus {
    outline: 0;
    border: 2px solid #820053;
}

::placeholder {
    color: black;


}

/*-------------------------------- */
/*diseño del boton*/
.btn {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 50px;
    outline: none;
    border: none;
    background-image: linear-gradient(to left, #820053, #8088, #820053);
    background-size: 200%;
    font-size: 1.2rem;
    color: #fff;
    margin: 0 auto;
    cursor: pointer;
    transition: .5s;
}

.btn:hover {
    background-position: right;

}

/*-------------------------------- */
