*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

a{
  font-family: 'Rubik', sans-serif;
  font-family: 'Varela Round', sans-serif;
  text-decoration: none;
}

header {

  align-items: center;
  background-color: #EAEAEA;
  height: 70px;
  width: 100%;
  position: fixed;
}

.contenedor{
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-btn{
  display: flex;
}

.nav-links{
  flex: 2;
}

.butolog{
  font-family: 'Rubik', sans-serif;
  font-family: 'Varela Round', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-align-all: end;
  margin-right: 10px;
}

.img-logo {
  height: 30px;
  width: 160px;
  height: 100%;
  vertical-align: top;
  display: flex;
}

.buto{
  padding: .5rem 1.3rem;
  font-size: 1rem;
  border: 2px solid #820053;
  border-radius: 10px;
  line-height: 1;
  transition: .3s;
}

.buto.solid, .buto.transparent:hover{
  background-color: #fff;
  color: #820053;
}

.buto.transparent, .buto.solid:hover{
  background-color: #820053;
  color: #fff;
}

.nav-links > ul{
  display: flex;
  margin-top: 10px;
}

.nav-link > a{
  line-height: 3rem;
  color: black;
  padding: 0 10px;
  font-size: .95rem;
  transition: .5s;
}

.nav-link:hover > a{
  transform: scale(1.1);
}
/*.userpic{*/
/*  flex: 1;*/
/*  display: none;*/
/*  margin-top: 5px;*/
/*}*/



/*-------------------------------------------------------------*/
/*.hamburger-menu-container{*/
/*  !*flex: 1;*!*/
/*  display: flex;*/
/*  align-items: baseline;*/
/*  justify-content: flex-end;*/
/*}*/
.hamburger-menu-container{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  margin-right: 1em;
  display: none;
}

.hamburger-menu{
  width: 2.5rem;
  height: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hamburger-menu{
  width: 1.5rem;
  height: 3px;
  border-radius: 3px;
  background-color: black;
  position: relative;
  transition: .5s;
}

.hamburger-menu:before,
.hamburger-menu:after{
  content: '';
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: black;
  border-radius: 3px;
  transition: .5s;
}

.hamburger-menu:before{
  transform: translateY(-7px);
}

.hamburger-menu:after{
  transform: translateY(7px);
}

.picuser{
  position: relative;
  /*top: 29%;*/
  /*right: 1px;*/
  cursor: pointer;
  margin-right: 10px;
  height: 24px;
  /*opacity: 100;*/
  /*z-index: 90;*/

}
/*#check{*/
/*  position: absolute;*/
/*  top: 50%;*/
/*  right: 0.01rem;*/
/*  transform: translateY(-50%);*/
/*  width: 4rem;*/
/*  height: 3rem;*/
/*  !*z-index: 900;*!*/
/*  cursor: pointer;*/
/*  opacity: 0;*/
/*  display: none;*/
/*}*/

#check:checked ~ .hamburger-menu-container .hamburger-menu {
  background-color: transparent;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu:before{
  transform: translateY(0) rotate(-45deg);
}

#check:checked ~ .hamburger-menu-container .hamburger-menu:after{
  transform: translateY(0) rotate(45deg);
}
/*----------------------------------------------------------------------*/

@keyframes animation{
  from{
    opacity: 0;
    transform: translateY(15px);
  }
  to{
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width: 920px){
  /*.hamburger-menu-container{*/
  /*!*  display: flex;*!*/
  /*!*  flex-flow: column nowrap;*!*/
  /*!*  justify-content: space-between;*!*/
  /*!*}*!*/
  /*!*.userpic{*!*/
  /*!*  display: initial;*!*/
  /*!*!*  ---------------------------------*!*!*/
  /*!*}*!*/

  /*!*#check{*!*/
  /*!*  display: block;*!*/
  /*!*}*!*/

  .hamburger-menu-container{
    display: flex;
  }

  .nav-btn{
    position: fixed;
    top: 4.45rem;
    width: 100%;
    background-color: #820053;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    transform: translateX(100%);
    transition: .65s;
    height: auto;
  }

  .logo img{
    height: 100%;
    vertical-align: top;
    display: flex;
  }

  #check:checked ~ .nav-btn{
    transform: translateX(0);
  }

  #check:checked ~ .nav-btn .nav-link,
  #check:checked ~ .nav-btn .butolog{
    animation: animation .5s ease forwards var(--i);
  }

  .nav-links{
    flex: initial;
    width: 100%;
  }

  .nav-links > ul{
    display: flex;
    margin-top: 1px;
    margin-left: 0px;
    flex-direction: column;
    justify-content: center;
  }

  .nav-link{
    width: 100%;
    opacity: 0;
    transform: translateY(15px);
  }

  .nav-link > a{
    color: white;
    line-height: 1;
    display: flex;
    justify-content: center;
    padding: 20px;
  }

  .nav-link:hover > a{
    transform: scale(1);
    background-color: #820053;
  }


  .nav-link > a > i{
    font-size: 1.1rem;
    transform: rotate(-90deg);
    transition: .7s;
  }

  .butolog{
    /*flex: initial;*/
    /*width: 100%;*/
    /*padding: 1rem 1.9rem;*/
    /*transform: translateY(15px);*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*flex: 1;*/
    display: none;
  }

}
/*.picuser{*/
/*  width: 20px;*/
/*}*/

