*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

header {
  align-items: center;
  background-color: #EAEAEA;
  height: 70px;
  width: 100%;
  position: fixed;
}

.contenedor{
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-btn{
  display: flex;
}

.nav-links{
  flex: 2;
}

.nav-link:hover{
  text-decoration:underline;
}

.butolog{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-align-all: end;
  margin-right: 10px;
}

.img-logo {
  height: 30px;
  width: 160px;
  height: 100%;
  vertical-align: top;
  display: flex;
}

.btn{
  padding: .5rem 1.3rem;
  font-size: 1rem;
  border: 2px solid #820053;
  border-radius: 10px;
  line-height: 1;
  transition: .3s;
}

.buto.solid, .buto.transparent:hover{
  background-color: #fff;
  color: #820053;
}

.buto.transparent, .buto.solid:hover{
  background-color: #820053;
  color: #fff;
}

.nav-links > ul{
  display: flex;
  margin-top: 10px;
}

.nav-link > a{
  line-height: 3rem;
  color: black;
  padding: 0 10px;
  font-size: .95rem;
  transition: .5s;
}

.nav-link:hover > a{
  transform: scale(1.1);
}




/*-------------------------------------------------------------*/

.hamburger-menu-container{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  margin-right: 1em;
  display: none;
}

.hamburger-menu{
  width: 2.5rem;
  height: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hamburger-menu{
  width: 1.5rem;
  height: 3px;
  border-radius: 3px;
  background-color: black;
  position: relative;
  transition: .5s;
}

.hamburger-menu:before,
.hamburger-menu:after{
  content: '';
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: black;
  border-radius: 3px;
  transition: .5s;
}

.hamburger-menu:before{
  transform: translateY(-7px);
}

.hamburger-menu:after{
  transform: translateY(7px);
}

.picuser{
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  height: 25px;

}
.picuser > img{
  height: 25px;
  width: 25px;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu {
  background-color: transparent;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu:before{
  transform: translateY(0) rotate(-45deg);
}

#check:checked ~ .hamburger-menu-container .hamburger-menu:after{
  transform: translateY(0) rotate(45deg);
}
/*----------------------------------------------------------------------*/

@keyframes animation{
  from{
    opacity: 0;
    transform: translateY(15px);
  }
  to{
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width: 920px){
  /*.hamburger-menu-container{*/
  /*!*  display: flex;*!*/
  /*!*  flex-flow: column nowrap;*!*/
  /*!*  justify-content: space-between;*!*/
  /*!*}*!*/
  /*!*.userpic{*!*/
  /*!*  display: initial;*!*/
  /*!*!*  ---------------------------------*!*!*/
  /*!*}*!*/

  /*!*#check{*!*/
  /*!*  display: block;*!*/
  /*!*}*!*/

  .hamburger-menu-container{
    display: flex;
  }

  .nav-btn{
    position: fixed;
    top: 4.45rem;
    width: 100%;
    background-color: #820053;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    transform: translateY(-135%);
    transition: .65s;
    height: auto;
  }

  .logo img{
    height: 100%;
    vertical-align: top;
    display: flex;
  }

  #check:checked ~ .nav-btn{
    transform: translateX(0);
  }

  #check:checked ~ .nav-btn .nav-link,
  #check:checked ~ .nav-btn .butolog{
    animation: animation .5s ease forwards var(--i);
  }

  .nav-links{

    flex: initial;
    width: 100%;
  }

  .nav-links > ul{
    display: flex;
    margin-top: 1px;
    margin-left: 0px;
    flex-direction: column;
    justify-content: center;
  }

  .nav-link{
    width: 100%;
    opacity: 0;
    transform: translateY(15px);
  }

  .nav-link > a{
    color: white;
    line-height: 1;
    display: flex;
    justify-content: center;
    padding: 20px;
  }

  .nav-link:hover > a{
    transform: scale(1);
    background-color: #820053;
  }


  .nav-link > a > i{
    font-size: 1.1rem;
    transform: rotate(-90deg);
    transition: .7s;
  }

  .butolog{
    /*flex: initial;*/
    /*width: 100%;*/
    /*padding: 1rem 1.9rem;*/
    /*transform: translateY(15px);*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*flex: 1;*/
    display: none;
  }

}
.overlay__content a{
  font-weight: 600;
  color: white;
  text-decoration: none;
}
/*Salida del menú en teléfono */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  overflow-x: hidden;
  /*transition: all 0.3s ease 0s;*/

}
/*Salida del menú en teléfono */
/*Tamaño del menú extensible verticalmente */
.overlay--active {
  width: 100%;
  height: 100%;
  /*opacity: 90%;*/
  /*filter: blur(4px);*/
}
/*Tamaño del menú extensible verticalmente */
/* Contenido del menú */
.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* Contenido del menú */
.overlay .close {
  padding: 15px;
  font-size: 25px;
  display: block;
  transition: all 0.3s ease 0s;
}
/* Color al accionar */
.overlay >div> a:hover,
.overlay >div> a:focus {
  color: black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;

}
/* Color al accionar */

/* Edición de cruz para cerrar */
.overlay .close {
  position: absolute;
  top: 50px;
  right: 25px;
  font-size: 45px;
  color: #edf0f1;
  cursor: pointer;
}
/* Edición de Cruz para cerrar */

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
