

.landing{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}
.cabecera{
    padding: 0;
    display: flex;
    justify-content: space-between;
    height: 70px;
}
.logo{
    height: 70px;

}
.logo img{
    display: block;
    height: 100%;
}
.boton_menu{
    height: 70px;
}

.boton_menu img{
    display: block;
    height: 100%;
}
.menu li{
    list-style: none;
    display: inline-block;
}
.menu a{
    text-transform: none;
    color: rgb(21, 127, 219);
}
.nav li:hover>ul{
    display:block;
}

