/*Para borde y diseño del conjunto */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 900px) {
    /*Primera parte del texto y foto*/
    .nosotros-encabezado {
        font-family: 'Varela Round', sans-serif;
        margin: 0 auto;
        text-align: center;
    }
    /*-------------------------------- */

    /*Primera parte del texto y foto*/
    .nosotros-informacion {
        font-family: 'Varela Round', sans-serif;
        margin: 0 auto;
        text-align: justify;
    }
    /*-------------------------------- */

    /*Diseño de la imagen*/
    #nosotros-img {
        width: 100%;
        height: auto;
        margin-bottom: -3px;
    }
    /*-------------------------------- */

    /*Diseño de los textos*/
    h4{
        font-weight: normal;
    }

    h2{
        font-size: 20px;
        margin-bottom: 5px;
        text-align: center;
    }


    .nosotros-principal{
        position: relative;
        display: inline-block;
    }

    .dentro{
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 2px;
        font-size: 20px;
        background: #79797990;
        width: 100%;
    }

    .quienes-somos{
        margin: 20px 32px 25px 32px;
    }

    .negocio{
        margin: 20px 32px 25px 32px;
    }

    .modelonegocio{
        width: 100%;
        margin-top: 15px;
    }
    .objetivos{
        margin: 20px 32px 25px 32px;
    }

    .ubicacion{
        margin: 20px 32px 25px 32px;
    }

    .mapa{
        margin-bottom: 10px;
        text-align: center;
    }

}
