/*Para borde y diseño del conjunto */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@media screen and (max-width: 900px) {

    .titulo {
        padding-top: 5%;
        padding-bottom: 5%;
        text-align: center;
        font-family: 'Varela Round', sans-serif;
        text-decoration: bold;
        padding-right: 5%;
        padding-left: 5%;
    }
    .display{
        display: flex;
        text-align: center;
        align-items: center;
        padding-bottom: 8%;
    }
    .sens{
        height: 50px;
        width: 50px;

    }
    .divisiones{
        height: 200px;
        width: 40%;
        padding-right: 1%;
        padding-left: 1%;
        padding-top: 4%;
        padding-bottom: 4%;
        margin-left: 8%;
        margin-right: 8%;
        background-color: #FFECD980;
        border-radius: 15px;
        text-align: center;
        align-items: center;
        box-shadow: 0px 0px 3px 1px gray;
    }
    .text-sensores{
        font-family: 'Varela Round', sans-serif;
        text-align: center;
        margin-bottom: 5%;
    }
    .contacto {
        padding-top: 8%;
        padding-left: 16%;
        padding-right: 16%;
        text-align: center;
        align-items: center;
        font-family: 'Varela Round', sans-serif;
    }

    .img1{
        width: 70%;
    }

    .espera {
        padding-top: 10%;
        padding-left: 16%;
        padding-right: 16%;
        text-align: center;
        align-items: center;
        font-family: 'Varela Round', sans-serif;
    }
    .img2{
        width: 70%;
    }

    .cita {
        padding-top: 10%;
        padding-left: 16%;
        padding-right: 16%;
        text-align: center;
        align-items: center;
        font-family: 'Varela Round', sans-serif;
    }
    .img3{
        width: 70%;
    }

    .instalacion {
        padding-top: 10%;
        padding-left: 16%;
        padding-right: 16%;
        text-align: center;
        align-items: center;
        font-family: 'Varela Round', sans-serif;
    }
    .img4{
        width: 70%;
    }

    .credenciales {
        padding-top: 10%;
        padding-left: 16%;
        padding-right: 16%;
        text-align: center;
        align-items: center;
        font-family: 'Varela Round', sans-serif;
        padding-bottom: 10%;
    }
    .img5{
        width: 70%;
    }
    .text{
        font-size: 15px;
    }

}
