/*Para borde y diseño del conjunto */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}
/*-------------------------------------------------------------------------------------------------------------------*/
/* Vista en teléfono */
@media screen and (max-width: 900px) {
    .titulo {
        text-align: center;
        text-decoration: bold;
        padding: 2% 5% 5% 5%;
        margin-top: 5px;

    }
    /*-------------------------------------------------------------------------------------------------------------------*/

    /*-------------------------------------------------------------------------------------------------------------------*/
    /*Apartado Servicios inicial*/
    .servicios-encabezado {
        font-family: 'Varela Round', sans-serif;
        margin: 0 auto;
        text-align: center;
    }

    #servicios-img {
        width: 100%;
        height: auto;
        margin-bottom: -3px;
    }
    .servicios-principal{
        position: relative;
        display: inline-block;
    }

    .dentro{
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 2px;
        font-size: 20px;
        background: #EAEAEA80;
        width: 100%;
        color: black;
    }
    /*-------------------------------------------------------------------------------------------------------------------*/

    /*-------------------------------------------------------------------------------------------------------------------*/
    /*Apartado explicación de sensores*/
    .display{
        display: flex;
        text-align: center;
        align-items: center;
        padding-bottom: 8%;
    }

    .sens{
        height: 50px;
        width: 50px;

    }

    .divisiones{
        height: 210px;
        width: 40%;
        padding: 4% 2% 4% 2%;
        margin: auto;
        background-color: #FFECD980;
        border-radius: 15px;
        text-align: center;
        position: center;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 3px 1px black;
    }

    .text-sensores{
        text-align: center;
        margin-bottom: 5%;
    }
    /*-------------------------------------------------------------------------------------------------------------------*/

    /*-------------------------------------------------------------------------------------------------------------------*/
    /*Apartado como adquirir servicios*/
    .contacto {
        padding-top: 2%;
        padding-left: 20%;
        padding-right: 20%;
        text-align: center;
        align-items: center;
    }
    .img1{
       margin-bottom: -4%;
        width: 65%;
    }

    .espera {
        padding-top: 15%;
        padding-left: 16%;
        padding-right: 16%;
        text-align: center;
        align-items: center;
    }
    .img2{
        margin-bottom: -4%;
        width: 65%;
    }

    .cita {
        padding-top: 15%;
        padding-left: 16%;
        padding-right: 16%;
        text-align: center;
        align-items: center;
    }
    .img3{
        margin-bottom: -4%;
        width: 65%;
    }

    .instalacion {
        padding-top: 15%;
        padding-left: 16%;
        padding-right: 16%;
        text-align: center;
        align-items: center;
    }
    .img4{
        margin-bottom: -4%;
        width: 65%;
    }

    .credenciales {
        padding-top: 15%;
        padding-left: 16%;
        padding-right: 16%;
        text-align: center;
        align-items: center;
        padding-bottom: 10%;
    }
    .img5{
        margin-bottom: -4%;
        width: 65%;
    }

    .sencillo{
        padding-top: 15%;
    }
    /*-------------------------------------------------------------------------------------------------------------------*/


    /*-------------------------------------------------------------------------------------------------------------------*/
    /*Diseño de los textos*/
    .text{
        font-size: 15px;
    }

    h2{
        font-size: 25px;
        margin-bottom: 5px;
    }

    .masinfo{
    text-align: center;
    margin: -30px 0px 20px 0px;
    padding-left: 16%;
    padding-right: 16%;
    font-size: 15px;
    }

   .a{
    color: #820053;
    text-decoration: underline;
    font-size: 15px;
}
    /*-------------------------------------------------------------------------------------------------------------------*/

}
