/*-----------------------------------------------ESTILO GENERAL-------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.header{
    height: 50px;
}

body {
    color: #404040;
    font-family: 'Varela Round', sans-serif;
    background-color: rgba(194, 185, 185, 0.25);
}
/*--------------------------------------------------------------------------------------------------------------------*/


/*-------------------------------------------DISEÑO DE LO VISIBLE-----------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------*/
/*DISEÑOS GENERALES DE CONTENEDORES*/
.seccion-perfil-usuario .perfil-usuario-body,
.seccion-perfil-usuario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
/*-------------------------------------------------------*/

/*-------------------------------------------------------*/
/*COLOR DE FONDO GENERAL*/
.seccion-perfil-usuario .perfil-usuario-header {
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(#d991b1, transparent);
    margin-bottom: 1.25rem;
}
/*-------------------------------------------------------*/

/*-------------------------------------------------------*/
/*COLOR DE ENCABEZADO INICIAL*/
.seccion-perfil-usuario .perfil-usuario-portada {
    display: block;
    position: relative;
    width: 90%;
    height: 180px;
    background: linear-gradient(25deg, #820053, #d991b1);
    border-radius: 0 0 20px 20px;
}

/*-------------------------------------------------------*/

/*-------------------------------------------------------*/
/*DISEÑO BOTÓN VOLVER*/
.volver{
    width: auto;
    height: 35px;
    margin-top: 20px;
    display: flex;
    margin-left: 30px;
}
/*-------------------------------------------------------*/

/*-------------------------------------------------------*/
/*DISEÑO CONTENEDORES DE LA IMAGEN DE PERFIL*/
.seccion-perfil-usuario .perfil-usuario-avatar {
    display: flex;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    border: 7px solid #FFFFFF;
    background-color: #EAEAEA;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    position: absolute;
    bottom: -40px;
    left: calc(50% - 90px);
    z-index: 1;
}
.seccion-perfil-usuario .perfil-usuario-avatar img {
    width: 100%;
    position: relative;
    border-radius: 50%;
}

/*-------------------------------------------------------*/
/*DISEÑO BOTÓN CAMBIAR FOTO DE PERFIL*/
.seccion-perfil-usuario .perfil-usuario-avatar .boton-avatar {
    position: absolute;
    left: -2px;
    top: -2px;
    border: 0;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}
/*-------------------------------------------------------*/

/*-------------------------------------------------------*/
/*TAMAÑO DE LOS CUADRADOS BLANCOS*/
.seccion-perfil-usuario .perfil-usuario-body {
    width: 70%;
    position: relative;
}
/*-------------------------------------------------------*/

/*-------------------------------------------------------*/
/*OPCIONES DEL NOMBRE DEL USUARIO*/
.seccion-perfil-usuario .perfil-usuario-body .titulo {
    display: block;
    width: 100%;
    font-size: 35px;
}
/*-------------------------------------------------------*/

/*-------------------------------------------------------*/
/*CREACIÓN DE LOS CONTENEDORES BLANCOS Y ESPACIOS*/
.seccion-perfil-usuario .perfil-usuario-footer,
.seccion-perfil-usuario .perfil-usuario-bio {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 1.5rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    background-color: #fff;
    border-radius: 15px;
    width: 85vw;
    margin-bottom: 7%;
}
.perfil-usuario-footer{
    margin-top: 3%;
}
/*-------------------------------------------------------*/

/*-------------------------------------------------------*/
.seccion-perfil-usuario .perfil-usuario-bio {
    margin-bottom: 1.25rem;
    margin-top: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.crearusuarioadmin {
    margin: 0 auto;
    border: 2px solid #820053;
    padding: 5px 10px;
    border-radius: 12px;
    background: #d380b5b8;
    margin-top: 10px;
}
.crearusuarioadmin:hover{
    background-color: #820053;
    color: white;
}
/*-------------------------------------------------------*/

/*-------------------------------------------------------*/
/*DISEÑO DE LOS APARTADOS DE DATOS PERSONALES*/
.seccion-perfil-usuario .lista-datos {
    width: 50%;
    list-style: none;
}
.seccion-perfil-usuario .lista-datos li {
    padding: 5px 0;
}
.tlf, .crreo, .direcc, .servs{
    font-weight: bold;
}
/*-------------------------------------------------------*/

/*-------------------------------------------------------*/
/*EDICIÓN DE LOS ICONOS INDIVIDUALES*/
.seccion-perfil-usuario .lista-datos li> .icono {
    margin-right: 10px;
    font-size: 1.2rem;
    vertical-align: middle;
}
/*-------------------------------------------------------*/
/*.seccion-perfil-usuario .redes-sociales {*/
/*    position: absolute;*/
/*    right: calc(0px - 50px - 1rem);*/
/*    top: 0;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/
/*-------------------------------------------------------*/

/*-------------------------------------------------------*/
/*EDICIÓN DE LA FRASE DE DATOS PERSONALES*/
    .misusuarios{
        display: flex;
        margin: 0 auto;
        margin-bottom: 3%;
        text-decoration: underline;
        font-size: 20px;
    }
/*-------------------------------------------------------*/

/*-------------------------------------------------------*/
/*OPCIONES DE TAMAÑO Y DISPOSICIÓN CUADRADOS BLANCOS*/
    .seccion-perfil-usuario .lista-datos {
        width: 100%;
    }
    .seccion-perfil-usuario .perfil-usuario-portada,
    .seccion-perfil-usuario .perfil-usuario-body {
        width: 95%;
    }
/*-------------------------------------------------------*/

/*-------------------------------------------------------*/
/*UBICACIÓN DE LA INFORMACIÓN DATOS PERSONALES*/
    .seccion-perfil-usuario {
        position: relative;
        flex-direction: row;
        width: 100%;
        left: 0;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        align-items: center;
        justify-content: center;
    }
/*-------------------------------------------------------*/

/*--------------------------------------------FIN DISEÑO DE LO VISIBLE------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/

/*-----------------------------------------------INICIO DISEÑO TABLA--------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------*/
/*POSICIÓN DE LA TABLA*/
.tabla{
    margin: 0 auto;
}
table{
    border-collapse: collapse;
    table-layout: fixed;
}

th{
   background: #afafaf;
    padding: 0.3rem 2rem;
}
th, td{
    border: 2px solid #d0d0d0;
    padding: 1rem .5rem;
}
.tabla caption {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
}

@media (max-width:810px) {

    table{
        width: 75vw;
    }
    table tr{
        display: flex;
        flex-direction: column;
        padding: 1em;
        margin-bottom: 1em;
    }

    td{
        display: flex;
        justify-content: space-between;
    }

    .modificaciones{
        justify-content: center;
    }

    table thead{
        display: none;
    }

    table td[data-titulo]::before{
        content: attr(data-titulo);
        font-weight: bold;

    }

    .crearusuarioadmin {
        margin: 0 auto;
        border: 2px solid #820053;
        padding: 5px 10px;
        border-radius: 12px;
        background: #d380b5b8;
    }
    .crearusuarioadmin:hover{
        background-color: #820053;
        color: white;
    }

}


