/*Para borde y diseño del conjunto */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

/*-------------------------------------------------------------------------------------------------------------------*/
.header{
    height: 70px;
}

@media screen and (min-width: 610px) {

    /*--------------------------------------------------*/
    /*OPCIONES DE LAS IMÁGENES DE ENCABEZADO*/
    #contacto-elipse,
    #contacto-img {
        display: none;
    }

    /*--------------------------------------------------*/

    .contacto-textos,
    .contacto-textos-2 {
        display: none;
    }

    .contacto_princ {
        position: relative;
        display: inline-block;
        width: 100%;
        text-align: center;
    }

    #contacto-img-princ2 {
        width: 100%;
        height: 200px;
    }
    #contacto-img-princ{
        display: none;
    }

    .dentro {
        position: absolute;
        top: 38%;
        left: 50%;
        transform: translate(-50%, 80%);
        padding: 2px;
        font-size: 20px;
        background: #EAEAEA80;
        width: 100%;
        color: black;
    }

    .contenedor-flex {
        display: flex;
        flex-direction: row;
    }

    .texto-pc {
        margin: auto auto;
        width: 70vh;
        height: auto;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
    }

    .formulario {
        position: relative;
        margin: 0 auto;
        width: 550px;
        height: auto;
    }

    .verticalLine {
        border-left: 2px solid #D0DCE5;
    }

    /*diseño del formulario*/
    .contacto-formulario {
        height: auto;
        padding-top: 15px;
        padding-bottom: 10px;
    }

    .contacto-formulario form {
        width: 100%;
        height: 360px;
        padding: 20px;
        border-radius: 20px;
        margin: 0px auto;
    }

    .contacto-formulario input,
    .txt {
        background-color: #EAEFF3;
        width: 100%;
        height: 40px;
        border-radius: 13px;
        border-style: solid;
        border-width: 1px;
        border-color: #D0DCE5;
        margin: 3px auto;
    }

    .contacto-formulario input {
        margin-bottom: 10px;
        padding-left: 10px;
    }

    .contacto-formulario textarea {
        background-color: #EAEFF3;
        width: 99%;
        height: 100px;
        border-radius: 15px;
        border-style: solid;
        border-width: 1px;
        border-color: #D0DCE5;
        margin: 5px auto 10px auto;
        padding-top: 15px;
        padding-left: 10px;
        resize: none;
    }

    .formulario input:focus {
        outline: 0;
        border: 2px solid #820053;
    }


    .formulario textarea:focus {
        outline: 0;
        border: 2px solid #820053;
    }

    .contacto-formulario ::placeholder {
        color: black;


    }

    /*-------------------------------------------------------------------------------------------------------------------*/

    /*-------------------------------------------------------------------------------------------------------------------*/

    /*diseño del boton*/
    .btn {
        display: block;
        width: 100%;
        height: 50px;
        border-radius: 50px;
        outline: none;
        border: none;
        background-image: linear-gradient(to left, #820053, #8088, #820053);
        background-size: 200%;
        font-size: 1.2rem;
        color: #fff;
        margin: 0 auto;
        cursor: pointer;
        transition: .5s;
    }

    .btn:hover {
        background-position: right;

    }

    /*--------------------------------------------------*/



}

/*----------------------------------------------FIN DISEÑO ORDENADOR---------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------DISEÑO MÓVIL--------------------------------------------------*/
@media screen and (max-width: 610px) {

    .contacto_princ {
        display: none;
    }

    #contacto-img-princ2{
        display: none;
    }

    .texto-pc {
        display: none;
    }

    /*Primera parte del texto y foto*/
    .contacto-encabezado {
        background-color: #D0DCE5;
        border-bottom: solid 4px #820053;
        margin-top: -0.2rem;
    }

    /*-------------------------------------------------------------------------------------------------------------------*/

    /*-------------------------------------------------------------------------------------------------------------------*/
    /*diseño del texto tipografia y alineacion*/
    .contacto-textos {
        margin: 0 auto;
        text-align: center;
        color: white;
    }

    .contacto-textos-2 {
        padding-top: 25px;
        margin: 0px 15px 40px 15px;
        text-align: center;
        font-style: italic;
        font-size: 18px;
    }

    /*-------------------------------------------------------------------------------------------------------------------*/

    /*-------------------------------------------------------------------------------------------------------------------*/

    /*Diseño para textos*/
    .contacto-textos h1 {
        font-size: 24px;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .contacto-formulario p,
    .contacto-textos p {
        margin: 0 1rem;
        font-size: 18px;
        font-weight: normal;
    }

    /*-------------------------------------------------------------------------------------------------------------------*/

    /*-------------------------------------------------------------------------------------------------------------------*/

    /*Diseño de la imagen contacto*/
    #contacto-img {
        width: 100%;
        height: auto;
        margin-bottom: -3px;
    }

    /*-------------------------------------------------------------------------------------------------------------------*/

    /*-------------------------------------------------------------------------------------------------------------------*/

    /*Diseño imagen elipse*/
    #contacto-elipse {
        width: 100%;
        height: auto;
        margin-bottom: -3px;
        margin-top: -3px;
    }

    /*-------------------------------------------------------------------------------------------------------------------*/

    /*-------------------------------------------------------------------------------------------------------------------*/

    /*diseño del formulario*/
    .contacto-formulario {
        background: linear-gradient(to right, #6F60CC 10%, #9F6CB4);
        height: auto;
        padding-top: 15px;
        padding-bottom: 10px;
        border-top: solid 4px #820053;
    }

    .contacto-formulario form {
        width: 85%;
        height: 370px;
        background: rgba(255, 255, 255, 0.7);
        padding: 20px;
        border-radius: 20px;
        margin: 30px auto 20px auto;
    }

    .contacto-formulario input,
    .txt {
        background-color: #EAEFF3;
        width: 100%;
        height: 40px;
        border-radius: 13px;
        border-style: solid;
        border-width: 1px;
        border-color: #D0DCE5;
        margin: 3px auto;
    }

    .contacto-formulario input {
        margin-bottom: 10px;
        padding-left: 10px;
    }

    .contacto-formulario textarea {
        background-color: #EAEFF3;
        width: 99%;
        height: 100px;
        border-radius: 15px;
        border-style: solid;
        border-width: 1px;
        border-color: #D0DCE5;
        margin: 5px auto 10px auto;
        padding-top: 15px;
        padding-left: 10px;
        resize: none;
    }

    .formulario input:focus {
        outline: 0;
        border: 2px solid #820053;
    }


    .formulario textarea:focus {
        outline: 0;
        border: 2px solid #820053;
    }

    .contacto-formulario ::placeholder {
        color: black;


    }

    /*-------------------------------------------------------------------------------------------------------------------*/

    /*-------------------------------------------------------------------------------------------------------------------*/

    /*diseño del boton*/
    .btn {
        display: block;
        width: 100%;
        height: 50px;
        border-radius: 50px;
        outline: none;
        border: none;
        background-image: linear-gradient(to left, #820053, #8088, #820053);
        background-size: 200%;
        font-size: 1.2rem;
        color: #fff;
        margin: 0 auto;
        cursor: pointer;
        transition: .5s;
    }

    .btn:hover {
        background-position: right;

    }

    /*--------------------------------------------------*/
}

/*-----------------------------------------------FIN DISEÑO MÓVIL------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/
