/*-----------------------------------------------DISEÑO GENERAL-----------------------------------------------*/
/*--------------------------------------------------*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;

}
.header{
    height: 70px
}
/*Diseño título de la gráfica*/
.tituloGraficas{
    text-align: center;
    margin: 2rem;
}
/*Estilo de la section*/
.cabecera_princ {
    margin: 0 auto;
    text-align: center;
}
/*Elementos de arriba de la gráfica*/
.graficas_princ{
    position: relative;
    display: inline-block;
}
/*Imágen título*/
#graficas-img {
    width: 100vw;
    height: 20vh;
    margin-bottom: -3px;

}
/*Dentro de la imagen del título*/
.dentro{
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2px;
    font-size: 20px;
    background: #EAEAEA80;
    width: 100%;
    color: black;
}
/*Texto de las gráficas*/
.texto_graficas{
    width: 90%;
    text-align: justify;
    margin: 0 auto;
    margin-top: 4%;
}
/*Botón atrás*/
.flecha_atras_bonita_bonita{
    text-decoration: none;
    margin-top: 2%;
    display: inline;
    margin-left: 0px;
    text-align: left;
}
/*Texto para la lista*/
.mostrar-mis-datos{
    margin-left: auto;
    margin-right: 10px;
}
/*Desplegable del tiempo*/
.tiempo{
    padding-right: 20px;
}
/*Círculo de la flecha de atrás*/
.fa-arrow-circle-left{
    margin-left: 4vw;
    color: #820053;
    font-size: 1.9rem;
}
/*Contenedor*/
.interracion-usuario{
    width: 100vw;
    display: flex;
    margin: 2vh 0px 1vh 0px;
    align-items: center;
    width: 90%;
}

.comparar{
    display: flex;
    justify-content: center;
}
#graficas-img2{
    display: none;
}
#graficas-img3{
    display: none;
}
/*----------------------------------------------FIN DISEÑO GENERAL-----------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/


/*----------------------------------------------DISEÑO ORDENADOR-------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/
@media  screen and (min-width: 800px) {
    /*Interacción del usuario*/
    .interracion-usuario {
        margin-bottom: 0px;
    }
    /*Imagen 1 de la cabecera de la página*/
    #graficas-img{
        display: none;
    }
    /*Imagen 2 para PC*/
    #graficas-img2{
        display: initial;
        width: 100%;
        height: 160px;
    }
    /*Imagen 3*/
    #graficas-img3{
        display: none;
    }
}

/*---------------------------------------------FIN DISEÑO TABLET-------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/
@media  screen and (min-width: 520px) and (max-width: 800px){
    /*Cambios de imagen de la cabecera*/
    #graficas-img{
        display: none;
    }
    #graficas-img2{
        display: none;
    }
    #graficas-img3{
        display: initial;
        width: 100%;
        height: 160px;
    }
}
/*--------------------------------------------FIN DISEÑO TABLET--------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/
