/*-----------------------------------------------DISEÑO GENERAL-----------------------------------------------*/
/*--------------------------------------------------*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;

}
.tituloGraficas{
    text-align: center;
    margin: 2rem;
}

.cabecera_princ {
    margin: 0 auto;
    text-align: center;
}
.graficas_princ{
    position: relative;
    display: inline-block;
}
#graficas-img {
    width: 100vw;
    height: 20vh;
    margin-bottom: -3px;

}
.dentro{
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2px;
    font-size: 20px;
    background: #EAEAEA80;
    width: 100%;
    color: black;
}
.texto_graficas{
    width: 90%;
    text-align: justify;
    margin: 0 auto;
    margin-top: 4%;
}
.flecha_atras_bonita_bonita{
    text-decoration: none;
    margin-top: 2%;
    display: inline;
    margin-left: 0px;
    text-align: left;
}
.mostrar-mis-datos{
    margin-left: auto;
    margin-right: 10px;
}
.tiempo{
    padding-right: 20px;
}

.fa-arrow-circle-left{
    margin-left: 4vw;
    color: #820053;
    font-size: 1.9rem;
}

.interracion-usuario{
    width: 100vw;
    display: flex;
    margin: 2vh 0px 1vh 0px;
    align-items: center;
    width: 90%;
}

/*.comparar{
    display: flex;
    justify-content: center;
}*/

#graficas-img2{
    display: none;
}
#graficas-img3{
    display: none;
}
/*----------------------------------------------FIN DISEÑO GENERAL-----------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/


/*----------------------------------------------DISEÑO ORDENADOR-------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/
@media  screen and (min-width: 800px) {
    .interracion-usuario {
        margin-bottom: 0px;
    }
    #graficas-img{
        display: none;
    }
    #graficas-img2{
        display: initial;
        width: 100%;
        height: 160px;
    }
    #graficas-img3{
        display: none;
    }
}

/*---------------------------------------------FIN DISEÑO TABLET-------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/
@media  screen and (min-width: 520px) and (max-width: 800px){
    #graficas-img{
        display: none;
    }
    #graficas-img2{
        display: none;
    }
    #graficas-img3{
        display: initial;
        width: 100%;
        height: 160px;
    }
}
/*--------------------------------------------FIN DISEÑO TABLET--------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/
