/*----------------------------------------------DISEÑO GENERAL---------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;

}



/*----------------------------------------------DISEÑO ORDENADOR-------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 800px) {
    table {
        margin: 0 auto;
        border-collapse: collapse;
        font-family: sans-serif;
    }

    th {
        border-bottom: solid 2px black;
        border-bottom: solid 1px black;
        padding: .2em 3em;
    }

    table tr:nth-child(even) {
        background-color: #eee;
    }

    tr {
        text-align: center;
    }

    .btn_misdatos {
        background: none;
        border: none;
        font-size: 40px;
        margin-left: 2rem;
        margin-top: 1rem;
    }

    .btn_pdf {
        color: red;
    }

    .titulo_misdatos {
        margin: 5 auto;
        text-align: center;
    }
}

/*----------------------------------------------FIN DISEÑO ORDENADOR-------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------*/


/*----------------------------------------------DISEÑO TABLET----------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 520px) and (max-width: 800px) {}

/*----------------------------------------------DISEÑO TABLET----------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/
