/*-----------------------------------------------DISEÑO GENERAL-----------------------------------------------*/
/*--------------------------------------------------*/
/*PARA BORDE Y DISEÑO DEL CONJUNTO */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}
/*--------------------------------------------------*/

/*--------------------------------------------------*/
/*PRIMERA PARTE DEL TEXTO Y FOTO*/
.nosotros-encabezado {
    margin: 0 auto;
    text-align: center;
}
.nosotros-informacion {
    margin: 0 auto;
    text-align: justify;
}

.nosotros-principal{
    position: relative;
    display: inline-block;
}
/*--------------------------------------------------*/

/*--------------------------------------------------*/
/*TAMAÑO DEL MAPA UBICACIÓN*/
.mapa{
    margin-bottom: 10px;
    text-align: center;
}
/*--------------------------------------------------*/
/*----------------------------------------------FIN DISEÑO GENERAL-----------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/



/*----------------------------------------------DISEÑO ORDENADOR-------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 1000px){
    /*--------------------------------------------------*/
    /*OPCIONES DE LAS IMÁGENES DE ENCABEZADO*/
    #nosotros-img-pc {
        width: 100%;
        height: 220px;
        margin-bottom: -3px;
        flex: 1 1 200px;
    }
    #nosotros-img,#nosotros-img-tablet, #nosotros-img-tabletpc {
        display: none;
    }
    /*--------------------------------------------------*/

    /*--------------------------------------------------*/
    /*DISEÑO DE CADA UNO DE LOS TEXTOS*/
    .dentro{
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 2px;
        font-size: 24px;
        background: #EAEAEA80;
        width: 100%;
        color: black;
    }
    h4{
        font-weight: normal;
        font-size: 18px;
    }
    h2{
        font-size: 23px;
        margin-bottom: 5px;

    }
    .quienes-somos,.negocio,.ubicacion{
        margin: 30px 120px 25px 120px;
        /*width: 30%;*/
    }
    /*--------------------------------------------------*/

    /*--------------------------------------------------*/
    /*TAMAÑO DEL MAPA UBICACIÓN*/
    .mapa{
        margin-bottom: 10px;
        text-align: center;
        margin-left: 40px;
        margin-right: 40px;
    }
    /*--------------------------------------------------*/

    /*--------------------------------------------------*/
    /*OPCIONES DE LAS IMÁGENES DE MODELO*/
    .modelonegociotablet,.modelonegocio{
        display: none;
    }
    .modelonegociopc{
        width: 60%;
        margin-top: 25px;
        margin-left: 20%;
    }
    /*--------------------------------------------------*/
}
/*----------------------------------------------FIN DISEÑO ORDENADOR---------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/



/*---------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------DISEÑO TABLET-ORDENADOR-----------------------------------------*/
@media screen and (min-width: 833px) and (max-width: 1000px) {
    /*--------------------------------------------------*/
    /*OPCIONES DE LAS IMÁGENES DE ENCABEZADO*/
    #nosotros-img, #nosotros-img-pc,#nosotros-img-tablet{
        display: none;
    }
    #nosotros-img-tabletpc{
        width: 100%;
        height: 220px;
        margin-bottom: -3px;
}
    /*--------------------------------------------------*/

    /*--------------------------------------------------*/
    /*DISEÑO DE CADA UNO DE LOS TEXTOS*/
    .dentro{
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 2px;
        font-size: 20px;
        background: #EAEAEA80;
        width: 100%;
        color: black;
    }
    h4{
        font-weight: normal;
        font-size: 18px;
    }
    h2{
        font-size: 23px;
        margin-bottom: 5px;
        text-align: center;
    }
    .quienes-somos,.negocio,.ubicacion{
        margin: 20px 60px 25px 60px;
    }
    /*--------------------------------------------------*/

    /*--------------------------------------------------*/
    /*OPCIONES DE LAS IMÁGENES DE MODELO*/
    .modelonegocio,.modelonegociopc{
        display: none;
    }
    .modelonegociotablet{
        width: 100%;
        margin-top: 15px;
    }
    /*--------------------------------------------------*/
}
/*-------------------------------------------FIN DISEÑO TABLET-ORDENADOR-----------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/



/*---------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------DISEÑO TABLET---------------------------------------------------*/
@media screen and (min-width: 610px) and (max-width: 833px) {
    /*--------------------------------------------------*/
    /*OPCIONES DE LAS IMÁGENES DE ENCABEZADO*/
    #nosotros-img,#nosotros-img-pc,#nosotros-img-tabletpc{
        display: none;
    }
    #nosotros-img-tablet {
        width: 100%;
        height: 220px;
        margin-bottom: -3px;
    }
    /*--------------------------------------------------*/

    /*--------------------------------------------------*/
    /*DISEÑO DE CADA UNO DE LOS TEXTOS*/
    .dentro{
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 2px;
        font-size: 20px;
        background: #EAEAEA80;
        width: 100%;
        color: black;
    }
    h4{
        font-weight: normal;
        font-size: 18px;
    }
    h2{
        font-size: 23px;
        margin-bottom: 5px;
        text-align: center;
    }
    .quienes-somos,.negocio,.ubicacion{
        margin: 20px 60px 25px 60px;
    }
    /*--------------------------------------------------*/

    /*--------------------------------------------------*/
    /*OPCIONES DE LAS IMÁGENES DE MODELO*/
    .modelonegocio,.modelonegociopc{
        display: none;
    }
    .modelonegociotablet{
        width: 100%;
        margin-top: 15px;
    }
    /*--------------------------------------------------*/
}
/*-----------------------------------------------FIN DISEÑO TABLET------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------*/



/*----------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------DISEÑO MÓVIL--------------------------------------------------*/
@media screen and (max-width: 610px) {
    /*--------------------------------------------------*/
    /*OPCIONES DE LAS IMÁGENES DE ENCABEZADO*/
    #nosotros-img-tablet,#nosotros-img-pc,#nosotros-img-tabletpc{
        display: none;
    }
    #nosotros-img {
        width: 100%;
        height: 220px;
        margin-bottom: -3px;
    }
    /*--------------------------------------------------*/

    /*--------------------------------------------------*/
    /*DISEÑO DE CADA UNO DE LOS TEXTOS*/
    .dentro{
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 2px;
        font-size: 20px;
        background: #EAEAEA80;
        width: 100%;
        color: black;
    }
    h4{
        font-weight: normal;
    }
    h2{
        font-size: 20px;
        margin-bottom: 5px;
        text-align: center;
    }
    .quienes-somos,.negocio,.modelonegocio,.ubicacion{
        margin: 20px 32px 25px 32px;
    }
    /*--------------------------------------------------*/

    /*--------------------------------------------------*/
    /*OPCIONES DE LAS IMÁGENES DE MODELO*/
    .modelonegociotablet,.modelonegociopc{
        display: none;
    }
    .modelonegocio{
        width: 100%;
        margin: 0 auto;
    }
    /*--------------------------------------------------*/
}
/*-----------------------------------------------FIN DISEÑO MÓVIL------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/